{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="text-center mb-4 mt-4">Bienvenue dans notre newslatters</h2>
    <p class="text-center">Pour vous abonner cliquez sur le bouton ci-dessous</p>
    <div class="col-md-12 text-center" style="margin-bottom: 18rem;">
        <a class="btn btn-primary" href="{{ absolute_url(path('newsletters_subscribe')) }}">Abonner</a>
    </div>
    <p class="text-center"><a href="{{ absolute_url(path('newsletters_list')) }}">For Admin!</a></p>
{% endblock %}
