{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="text-center mb-4 mt-4">Bienvenue dans notre newslatters</h2>
    <p class="text-center" style="margin-bottom: 20rem;">Pour vous abonner cliquez sur le bouton ci-dessous <a href="{{ absolute_url(path('newsletters_create')) }}">click me</a></p>
    <p class="text-center"><a href="{{ absolute_url(path('newsletters_list')) }}">Admin</a></p>
{% endblock %}
