{% extends 'base.html.twig' %}

{% block title %}Mettre à jour{% endblock %}

{% block body %}
    <h1>Modifier vos informations</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}